<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/selenium/SeleniumDemoTestNG/src/test/java/com/demoblaze"><classes><class name="com.demoblaze.DemoBlazeAccessTest"><methods><include name="demoBlazeAccess"/></methods></class></classes></test></suite>